# Virtual Environment
.venv/
venv/
ENV/
env/

# Build artifacts and compiler outputs
build/
build_test/
twister-out/
**/build/
*/**/build/
*.o
*.elf
*.bin
*.hex
*.ninja
*.ninja_deps
*.ninja_log
.ninja_*

# Zephyr west metadata & unused external vendor modules
.west/
bootloader/
tools/
modules/*
!modules/hal/
modules/hal/*
!modules/hal/microchip/
!modules/hal/cmsis/

# Temporary files and OS artifacts
.DS_Store
*.swp
*~
dev?null
