/ {
    gpio_keys {
        compatible = "gpio-keys";

        button: button {
            gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
            label = "BUTTON";
        };
    };

    aliases {
        my-input = &button;
    };
};