# Copyright (c) 2026 Microchip Technology Inc.

# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_MICROCHIP_PIC32CM_LS
	bool

config SOC_FAMILY
	default "microchip_pic32cm_ls" if SOC_FAMILY_MICROCHIP_PIC32CM_LS

rsource "*/Kconfig.soc"

